<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- .site-head -->
    <%- include('../partials/head'); %>
  </head>
<body>
  <!-- .site-footer -->
  <%- include('../partials/header'); %>
  
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      
    </div>
  </section>
  <!-- .site-footer -->
  <%- include('../partials/footer'); %>
</body>
</html>